html, body {
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Holtwood One SC', serif;
  color: "red";
}
#text{
  width:612px;
  height:792px;
  position: absolute;
  top:25px;
  left:100%;
  z-index:5;
}